.navbar {
    box-shadow: 1px 2px 5px #ebedeb;
}

.navbar a,
.navbar a:hover,
.navbar a:focus {
    color: #000 !important;
}


/* .nav-item-active,
.nav-item:hover {
    border-bottom: 2px solid var(--mainColor) !important;
} */