.shorting-menu {
    text-align: center;
    margin-bottom: 40px;
    color: #666;
}

.shorting-menu button {
    border: none;
    background: none;
}

.shorting-menu-active {
    border-bottom: 2px solid var(--mainColor) !important;
}

.single-portfolio-item a.gallery-item,
a.gallery-item {
    display: block;
    margin-bottom: 30px;
}

.gallery-item img {
    width: 100%;
}